* {
    box-sizing: border-box;
  }

  .card-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);

  }